
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
	color: bisque;
	background-color: #000;
}
#root {
	/* margin-top: 30px; */
  display: flex;
  justify-content: center;

}
.App {
  width: 800px;
}

.post{
	display: flex;
	padding: 15px;
	border: 2px solid #fff;
	margin-top: 15px;
	justify-content: space-between;
	align-items: center;
}
